.wall{
    width:50px;
    height:50px;
    background-color: black;
}

.row{
 display: flex;
 flex-direction: row;
 width: auto;
 align-items: center;
}

.line{
    width:50px;
    height:50px;
    background-color: #fff0f1;
}

.entrance{
    width:40px;
    height:40px;
    background-color:#fff;
    border-bottom: 10px solid cyan;
    border-top: 10px solid cyan;
}

.pers{
    padding-bottom:100px;
    background-color: deeppink;
    width:30px;
    height:30px;

}

.panel{
    width:200px;
    height:200px;
    padding:40px;
    background-color: deepskyblue;
}
.panel button{
    font-size:25px;
    background-color: mediumslateblue;
    border:none;
    color:#fff;
    padding:10px;
    width:50px;
    height:50px;
}

.panel .bottom{
    margin-left: 55px;
    margin-top:10px;
}
.panel .up{
    margin-top:10px;
}

.btn-left{
    margin-left:20px;
}